<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <dl>
    <mat-grid-list cols="3" rowHeight="150px">
      <mat-grid-tile rowspan="6"><img src="./assets/i/ray-1.png"></mat-grid-tile>
      <mat-grid-tile colspan="2"><img src="./assets/i/ray-title.png"></mat-grid-tile>
      <mat-grid-tile colspan="2" height="100px">
          <img id="Image-Maps-Com-image-maps-2018-03-06-115947" src="./assets/i/navbar-source.png" border="0" width="700" height="108" orgWidth="700" orgHeight="108" usemap="#image-maps-2018-03-06-115947" alt="" />
          <map name="image-maps-2018-03-06-115947" id="ImageMapsCom-image-maps-2018-03-06-115947">
          <area id="1" alt="Rays Facebook Page" title="Rays Facebook Page" href="http://fb.me/raymondwbayly" shape="rect" coords="80,14,181,103" style="outline:none;" target="_self"     />
          <area  alt="Twitter" title="Twitter" href="https://twitter.com/raywbayly" shape="rect" coords="193,3,303,101" style="outline:none;" target="_self"     />
          <area  alt="Email ray bayly" title="Email" href="MAILTO: me@raybayly.com" shape="rect" coords="308,3,394,105" style="outline:none;" target="_self"     />
          <area  alt="" title="https://www.amazon.com/Revenant-Book-One-Trilogy/dp/0692070362/ref=sr_1_1?ie=UTF8&qid=1520355764&sr=8-1&keywords=Raymond+bayly" href="http://www.image-maps.com/" shape="rect" coords="416,3,506,108" style="outline:none;" target="_self"     />
          <area  alt="" title="" href="https://www.barnesandnoble.com/w/revenant-raymond-w-bayly/1127938499?ean=9780692070383" shape="rect" coords="525,2,629,104" style="outline:none;" target="_self"     />
          <area shape="rect" coords="698,106,700,108" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
          </map>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="4"><img src="./assets/i/rev-ad.png"></mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
  </dl>
</div>
